<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置Spring MVC以使用自定义的转换服务 -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- 配置一个处理器，通过转发到Servlet容器的默认Servlet来处理静态资源 -->
    <mvc:default-servlet-handler />

    <!-- 启用注解检测，如 @Component, @Repository, @Service, @Controller -->
    <context:annotation-config />

    <!-- 扫描指定的包以查找Spring组件 (例如控制器, 转换器) -->
    <context:component-scan base-package="com.experimental.controller, com.experimental.converter"/>

    <!-- 视图解析器配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 转换服务配置 -->
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!-- 在此处注册自定义转换器 -->
                <bean class="com.experimental.converter.StringToPhoneNumberConverter"/>
            </set>
        </property>
    </bean>

</beans> 